<section class="customContainer pb-2">
    <div class="card p-2">                
        <div class="d-flex border-bottom border-secondary-subtle p-2 pt-0">
            <h5 class="m-0">Detalle de pedido</h5>
        </div>
    
        <table *ngIf="publishedArticles.length !== 0" class="table table-hover mb-0 mt-2">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Portada</th>
                    <th>Articulos</th>
                    <th>Cantidad de articulos</th>
                    <th>Fecha de pedido</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody class="">
                <tr class="" *ngFor="let article of publishedArticles">
                    <th>{{article.id}}</th>
                    <td class="imgContainer"><img src="{{article.img}}" alt="Articulo {{article.img}}"></td>
                    <td>{{article.title}}</td>
                    <td>{{article.quantity}}</td>
                    <td>06/18/2024</td>
                    <td>
                        <button class="m-0 w-100 me-2 mt-2 border border-secondary rounded-5 px-2 customButtonSecondary">Ver</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <p *ngIf="publishedArticles.length == 0" class="text-center mt-4">Aún no has publicado artículos</p>
    </div>
</section>