.customHoverText
{
    border-bottom: #f8f9fa 3px  solid;
}

.customHoverText:hover, .selectedNavItem
{
    border-bottom: #dc3545 3px  solid;
}

.customBadge
{
    font-size: x-small;
    top: 5px;
}

.menuLog
{
    position: absolute;
    right: -40px;
    z-index: 1;
    width: 300px;
    visibility: hidden;
}

.user:hover .menuLog
{
    visibility: visible;
}

.menuLog a
{
    text-decoration: none;
}

.searchForm input
{
    height: 35px;
    width: 500px;
}

.searchForm button
{
    height: 35px;   
}

@media(max-width: 576px)  
{
    .customSize
    {
        width: 100%;
    }  
    
    .customHoverText
    {
        border-bottom: #ffffff 0px  solid;
        border-left: #ffffff 2px  solid;
    }

    .customHoverText:hover, .selectedNavItem
    {
        border-bottom: #dc3545 0px  solid;
        border-left: #dc3545 2px  solid;
        background-color: rgb(247, 240, 240);
    }
}