.customBadge
{
    font-size: x-small;
    top: 5px;
}

.menuLog
{
    position: absolute;
    right: -50px;
    z-index: 1;
    width: 300px;
    visibility: hidden;
}

.user:hover .menuLog
{
    visibility: visible;
}

.menuLog a
{
    text-decoration: none;
}

.menuLog a:hover
{
    text-decoration: underline;
}

.searchForm
{
    width: 50%;
}

.searchForm input
{
    height: 35px;
}

.searchForm button
{
    height: 35px; 
}

@media(max-width: 992px)
{
    .searchForm
    {
        width: 65%;
    }
}

@media(max-width: 768px)  
{
    .menuLog
    {
        right: -18px;
    }

    .searchForm
    {
        width: 75%;
    }
}

@media(max-width: 576px)  
{
    .customSize
    {
        width: 100%;
    }  

    .menuLog
    {
        right: -35px;
    }

    .searchForm
    {
        width: 96%;
    }
}